DB_SERVER=localhost
DB_DATABASE=POS_VENEZUELA
DB_USER=sa
DB_PASSWORD=TU_PASSWORD_AQUI
DB_PORT=1433

JWT_SECRET=pos_venezuela_secret_minimo_32_caracteres_aqui
JWT_EXPIRES_IN=15m

PORT=3001
NODE_ENV=development

FRONTEND_URL=http://localhost:5173
